html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: grey;
}

#menu{
  position: absolute;
  top:0;
  height:65vh;
  width:10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#subMenu{
  height:35vh;
  width:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuItem{
  height:10vh;
  width:10vh;
}

.square{
  border: solid grey .25vh;
}